.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.authButtons {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-size: larger;
  font-weight: 400;
  border-radius: 10px;
}

.navLink {
  padding: 5px;
  text-decoration: none;
}

.navList .navLink:hover {
  color: rgb(4, 208, 248);
  border-radius: 10px;
  background-color: bisque;
  transition: 0.5s ;
}
.loginButton{
    padding: 5px;
}
.loginButton:hover {
  color: rgb(4, 208, 248);
  border-radius: 10px;
  background-color: bisque;
  transition: 0.5s;
}

.signupButton{
    padding: 5px;
}
.signupButton:hover {
  color: rgb(4, 208, 248);
  border-radius: 10px;
  background-color: bisque;
  transition: 0.5s;
}

.logoutButton{
    padding: 5px;
}
.logoutButton:hover {
  color: rgb(4, 208, 248);
  border-radius: 10px;
  background-color: bisque;
  transition: 0.5s;
}

.cartLogo{
  font-size: 20px;
  background-color: bisque;
  color:black;
  border:solid;
  border-color: black ;
  border-radius: 10px;
  transition: background-color 0.7s, color 0.7s;
}

.nav .cartLogo:hover{
  background-color:rgb(4, 208, 248);
  color: bisque;
}