.purchasesContainer{
    margin-top: 0px;
}

.purchaseHistoryTitle{
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: bisque;
    border-top: 1px solid black;
}

.historyContainer{
    gap: 20px;
    padding: 20px 20px 0 20px;
    height: 71vh;
    overflow-y: scroll;
}

.purchaseCard{
    background-color: white;
    height: 20vh;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.imgAndName{
    gap: 20px;
    padding: 10px;
}
.imgAndName .content{
    gap: 15px;
}

.purchaseCard img{
    object-fit: cover;
    width: 200px;
    height: 180px;
    border: 18px;
}