.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: rgb(191, 238, 238);
  top: 0;
  height: 90px;
}

.t2tLogo {
  width: 75px;
  background-color: bisque;
  border-radius: 50px;
  margin: 10px;
}

.tabContainer {
  display: flex;
}
